*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: whitesmoke;
    overflow-x: hidden;
}

main {
    width: 100vw;

    .app__container {
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1.7em;
    
        background-color: whitesmoke;
        color: rgb(60, 0, 124);
    
        #app-title {
            font-size: 2.3rem;
            margin-top: .8em;
        }
    
        .input__container {
            #link-input {
                font-size: 1.65rem;
                color: rgb(60, 0, 124);
                padding-top: .2em;
                padding-bottom: .2em;
                padding-left: .35em;

                border: 3.5px solid rgb(142, 0, 88);
                border-radius: 4px;
                box-shadow: 0px 1.5px 2px 2px rgba(0,0,0,0.2);

                &::placeholder {
                    color: rgb(60, 0, 124);
                }
            }

            #link-input:focus {
                outline-color: color-mix(
                in srgb,
                rgb(142, 0, 88) 100%,
                black 35%);
                
                caret-color: color-mix(
                in srgb,
                rgb(142, 0, 88) 100%,
                white 85%);
            }
        }

        .qr__container {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5em;

            background-color: rgb(0,0,0,0.1);
            text-align: center;

            margin-top: 2.5em;
            padding: .8em;
            border: none;
            border-radius: .635em;
            box-shadow: 0px 10px 10px 20px rgba(0,0,0,0.1);
            
            #qr-img {
                background-color: white;
                padding: .6em;
            }

            & h1 {
                font-size: 1.75rem;
                color: rgb(142, 0, 88);    

                text-decoration: underline;
                text-underline-offset: .3em;
                text-decoration-color: rgb(60, 0, 124);
            }
        }
    }
}

#error-wrapper {
    display: flex;
    justify-content: center;

    background-color: whitesmoke;
    margin-bottom: 2em;

    .error__container {
        width: fit-content;
        text-align: center;
        padding: 1.5em;
    
        border: 3px solid rgb(60, 0, 124);
        border-radius: 4px;
    
        #error-msg {
            font-size: 1.65rem;
            color: rgb(142, 0, 88);
            
            text-decoration: underline;
            text-underline-offset: .3em;
        }
    }
}

button {
    background-color: rgb(60, 0, 124);
    color: whitesmoke;
    font-size: 1.25rem;
    padding: .5em;
    border-radius: 4px;

    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: color-mix(in srgb,
        rgb(60, 0, 124) 100%,
        white 30%);
    }
}

footer {
    background-color: whitesmoke;
    text-align: center;
    color: rgb(142, 0, 88);
    padding-bottom: .6em;
    font-size: 0.85rem;
}

.hidden {
    display: none !important;
}

/* @media print-btn {
    main * {
        display: none;
    }

    #qr-img {
        display: block;
    }
} */